@import "bootstrap.min.css";

@import url(http://fonts.googleapis.com/css?family=PT+Sans);

@mixin slow_transition {
	-webkit-transition: 0.3s ease;
	-moz-transition:    0.3s ease;
	-o-transition:      0.3s ease;
}

@media (min-width: 979px) {
}

@media (min-width: 768px) and (max-width: 979px) {
    .span4 {
    	display: none;
    }
    .whole-page {
    	float: none;
    	width: 125%;
    	margin-left: 6%;
    }
}

@media (max-width: 768px) {
	.whole-page {
		margin-left: 1.5%;
	}
}

body {
	font-family: 'PT Sans', sans-serif;
	color: #292929;
	background-color: #DDDDDD;
}

h2 {
	display: inline;
}

h3 {
	display: inline;
}

h4 {
	display: inline;
}

p {
	margin: 5px;
}

a {
	color: #275F96;
	@include slow_transition;
}

.sitetitle a {
	color: #292929;
	@include slow_transition;
	border-right: #DDDDDD solid 1px;
	border-left: #DDDDDD solid 1px;
	&:hover {
		@include slow_transition;
		text-decoration: none;
		padding: 0 10px;
		border-right: #292929 solid 2px;
		border-left: #292929 solid 2px;
	}
}

#navigation {
    position: fixed;
    margin: 20px;
    width: 25.00%;
    border-right: 1px #292929 solid;
    border-left: 1px #292929 solid;
    text-align: center;
	ul {
		list-style-type: none;
		font-size: 18px;
		margin: 10px;
	}
	li {
		margin: 5px;
		border-right: #DDDDDD solid 1px;
		border-left: #DDDDDD solid 1px;
		a:hover {
			color: #292929;
			text-decoration: none;
			padding-right: 5px;
			padding-left: 5px;
			border-right: #292929 solid 1px;
			border-left: #292929 solid 1px;
			@include slow_transition;
		}
	}
	img {
		width: 66%;
		border-radius: 10px;
		border: 1px #292929 solid;
		margin: 10px;
	}
	iframe {
		margin: 10px 0 15px 0;
	}
}

#mobile-navigation {
	text-align: center;
	.sitetitle {
		padding: 15px;
		a {
			color: #292929;
			border-right: #DDDDDD solid 1px;
			border-left: #DDDDDD solid 1px;
			@include slow_transition;
			&:hover {
				text-decoration: none;
				border-right: #292929 solid 2px;
				border-left: #292929 solid 2px;
				padding: 0 10px;
				@include slow_transition;
			}
		}
	}
	.links {
		font-size: 18px;
		li {
			list-style-type: none;
			display: inline;
			a {
				border-top: #DDDDDD solid 1px;
				border-bottom: #DDDDDD solid 1px;
				@include slow_transition;
				&:hover {
					color: #292929;
					border-top: 1px #292929 solid;
					border-bottom: 1px #292929 solid;
					padding: 2px 0;
					text-decoration: none;
					@include slow_transition;
				}
			}
		}
	}
}

.blogtitle {
	li {
		display: inline;
		list-style-type: none;
	}
	a {
		@include slow_transition;
		&:hover {
			color: #104E8B;
			@include slow_transition;
		}
	}
}

.pagetitle {
	margin: 20px 20px 0px 0px;
	padding: 10px 20px 10px 0;
	border-top: 1px #292929 solid;
	border-bottom: 1px #292929 solid;
	text-align: center;
	a {
		color: #292929;
		border-top: #DDDDDD solid 1px;
		border-bottom: #DDDDDD solid 1px;
		@include slow_transition;
		&:hover {
			color: #292929;
			text-decoration: none;
			border-top: #292929 solid 1px;
			border-bottom: #292929 solid 1px;
			padding-top: 3px;
			padding-bottom: 3px;
			@include slow_transition;
		}
	}
}

.pagetext {
	margin: 20px 40px 20px 20px;
	border-top: 1px #292929 solid;
	border-bottom: 1px #292929 solid;
	a:hover {
		color: #292929;
		text-decoration: none;
		border-top: #292929 solid 1px;
		border-bottom: #292929 solid 1px;
		@include slow_transition;
	}
}

#footer {
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	a {
		padding: 1px;
		@include slow_transition;
		&:hover {
			color: #292929;
			text-decoration: none;
			border-top: #292929 solid 1px;
			border-bottom: #292929 solid 1px;
			@include slow_transition;
		}
	}
}