@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=PT+Sans);

@media (min-width: 979px) {

}
@media (min-width: 768px) and (max-width: 979px) {
    .span4 {
    	display: none;
    }
    .span8 {
    	width: auto;
    	margin-right: ;
    	margin-left: 15%;
    }
}
@media (max-width: 768px) {

}
body {
	font-family: 'PT Sans', sans-serif;
	color: #8C8C8C;
	background-color: #292929;
}

h2 {
	display: inline;
}
h3 {
	display: inline;
}
h4 {
	display: inline;
}
p {
	margin: 5px;
}
a {
	color: #104E8B;
}
#navigation {
    position: fixed;
    margin: 20px;
    width: 25.00%;
    border-right: 1px #8C8C8C solid;
    border-left: 1px #8C8C8C solid;
    text-align: center;
}
#navigation h1 {
	margin: 15px 0 10px 0;
}
#navigaton h1 a:hover {
	color: #104E8B;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	border-right: #8C8C8C solid 1px;
	border-left: #8C8C8C solid 1px;
}
#navigation ul {
	list-style-type: none;
	font-size: 18px;
	margin: 10px;
}
#navigation li {
	margin: 5px;
}
#navigation li a:hover {
	color: #8C8C8C;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	border-right: #8C8C8C solid 1px;
	border-left: #8C8C8C solid 1px;
}
#navigation img {
	width: 66%;
	border-radius: 10px;
	border: 1px #8C8C8C solid;
	margin: 10px;
}
#navigation iframe {
	margin: 10px 0 15px 0;
}
#mobile-navigation {
	text-align: center;
}
#mobile-navigation li {
	list-style-type: none;
	display: inline;
}
#mobile-navigation a:hover {
	color: #8C8C8C;
	border-top: 1px #8C8C8C solid;
	border-bottom: 1px #8C8C8C solid;
	text-decoration: none;
}
#mobile-navigation .link {
	font-size: 18px;
}
.blogtitle li {
	display: inline;
	list-style-type: none;
}
.blogtitle a:hover {
	color: #104E8B;
}
.pagetitle {
	margin: 20px 20px 0px 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	border-top: 1px #8C8C8C solid;
	border-bottom: 1px #8C8C8C solid;
	text-align: center;
}
.pagetitle a {
	color: #8C8C8C;
}
.pagetitle a:hover {
	color: #8C8C8C;
	text-decoration: none;
	border-top: #8C8C8C solid 1px;
	border-bottom: #8C8C8C solid 1px;
}
.pagetext {
	margin: 20px 40px 20px 20px;
	border-top: 1px #8C8C8C solid;
	border-bottom: 1px #8C8C8C solid;
}
.pagetext a:hover {
	color: #8C8C8C;
	text-decoration: none;
	border-top: #8C8C8C solid 1px;
	border-bottom: #8C8C8C solid 1px;
}
#sitetitle a {
	color: #8C8C8C;
}
#footer {
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
}
#footer a:hover {
	color: #8C8C8C;
	text-decoration: none;
	border-top: #8C8C8C solid 1px;
	border-bottom: #8C8C8C solid 1px;
}
#footer a {
	padding: 1px;
}