@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Gilda+Display);

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        position: static;
        width: auto;
    }
}
body {
	font-family: 'Gilda Display', serif;
}
h1 {
	margin: 20px;
}
h2 {
	display: inline;
}
h3 {
	display: inline;
}
h4 {
	display: inline;
}
p {
	margin: 5px;
}
a {
	color: #A05B00;
}
#navigation {
    position: fixed;
    margin: 20px;
    width: 25.00%;
    border-right: 1px black solid;
    border-left: 1px black solid;
    text-align: center;
    padding-bottom: 10px;
}
#navigation ul {
	list-style-type: none;
	font-size: 22px;
	margin: 20px;
	margin-bottom: 10px;
}
#navigation li {
	margin: 5px;
}
#navigation a {
	padding-right: 5px;
	padding-left: 5px;
}
#navigation a:hover {
	color: black;
	text-decoration: none;
	border-right: black solid 1px;
	border-left: black solid 1px;
}
#navigation img {
	width: 66%;
	border-radius: 5px;
}
.blogtitle ul {
	margin: 0 0 0 0;
}
.blogtitle li {
	display: inline;
	list-style-type: none;
}
.pagetitle {
	margin: 20px 20px 0px 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	text-align: center;
}
.pagetitle a:hover {
	color: black;
	text-decoration: none;
	border-top: black solid 1px;
	border-bottom: black solid 1px;
}
.pagetext {
	margin: 20px 40px 20px 20px;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}
.pagetext a:hover {
	color: black;
	text-decoration: none;
	border-top: black solid 1px;
	border-bottom: black solid 1px;
}
.footer {
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	bottom: relative;
}
.footer a:hover {
	color: black;
	text-decoration: none;
	border-top: black solid 1px;
	border-bottom: black solid 1px;
}
.footer a {
	padding: 1px;
}